/*
/*/
*.log
!/.gitignore
!/.Rbuildignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode
!/.lintr
!/tic.R
!/.github/
!/NEWS.md
!/cran-comments.md
!/renovate.json
!/references.bib
!/.spelling
!/README.Rmd
!/ieee.csl
!/data
/data/*
!/data/questions.csv
.Rproj.user
!/data/sus_results_demo.csv
